@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #061143;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primaryBlue: var(--primary-blue);

  --font-forum: var(--font-forum);
  --font-instrument: var(--font-instrument-sans);
  --font-inter: var(--font-inter-tight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-instrument), sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

/* Pause animation on hover */
.animate-marquee-container:hover .animate-marquee {
  animation-play-state: paused;
}